/* 
    Created on : 2/09/2015, 12:09:04 AM
    Author     : Carlos Cesar Rosas
*/
.ui-datascroller .ui-datascroller-item {
    border-bottom: 1px solid #a8a8a8 !important;
    padding: 25px 10px;
}
.logo{
    width: 120px !important;
    border-style: hidden !important;
}
.detail{
    border-style: hidden !important;
    width: 100% !important;
}
.logoNoticia{
    width: 200px;
    border-style: hidden !important;
}
.noticiaPanel {
    margin: 0 auto;
    width: 75%;
}
.ui-panelgrid .ui-panelgrid-cell{
    float: none !important;
}
.tableInfo {
    width: 100%;
}